<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmKWDMFUTycoH22IFrdnHXAEWgiDLMyg0</string>
	<key>GCM_SENDER_ID</key>
	<string>343263027097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xo.TODO</string>
	<key>PROJECT_ID</key>
	<string>todo-app-1d7c3</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-1d7c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343263027097:ios:a985cfdffd4799fe257d08</string>
</dict>
</plist>